/*Importing necessary fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    overflow-x: hidden;
}

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    height: 80px;
    font-size: 17px;
    text-transform: uppercase;
    font-family: "Roboto Condensed", Arial, sans-serif !important;
    font-weight: 600;
    box-shadow: 0px 2px 10px #717171;
    z-index: 10;
    position: sticky;
    top: 0;
    overflow: hidden;
}
nav {
    display: flex;
    gap: 55px;
}

.nav-anchor {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-family: "Roboto Condensed", Arial, sans-serif;


}

#main-logo img {
    width: 200px;
    height: 80px;
    object-fit: cover;
    object-position: center right;
}

#contact-form {
    border: 1px solid red;
    color: rgb(251, 236, 236);
    background-color: red;
    /* padding: 10px; */
    border-radius: 10px;
    transition: background-color 0.3s;
}

#contact-form:hover {
    background-color: rgb(173, 0, 0);
}

#study-abroad {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

#study-abroad-hover {
    /* margin-top: 5px; */
    padding: 40px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 50px; */
    background-color: rgb(230, 224, 224);
    height: 300px;
    width: 100vw;
    overflow: hidden;
    box-sizing: border-box;

    /* added this by himsagar*/
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: all 0.4s ease;

    /*Added by samyog*/
    position: fixed;
    z-index: 9;
}


#study-abroad-hover.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

#study-abroad-hover .country-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 200px;
    height: 80px;
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-in;
}

.country-container:hover {
    outline-offset: -20px;
    outline-width: 2px;
    outline-color: green;
    outline-style: dotted;

    /* box-shadow: 0px 2px 0px 0px black; */
}

#study-abroad-hover .country-container img {
    width: 80px;
    height: 40px;
    border-radius: 5px;
}
